<nav class="navbar navbar-expand-lg">
    <div class="container">
        <!-- Enlace -->
         <a [routerLink]="['/']" class="navbar-brand">Clients Control</a>
         <!-- Boton para colapsar la barra de navegacion -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" 
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- contenido de barra -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item px-2">
                    <a [routerLink]="['/']" class="nav-link">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item px-2">
                    <a [routerLink]="['/']" class="nav-link">
                        <i class="bi bi-person-circle"></i> Sign In
                    </a>
                </li>
            </ul>
          </div>
    </div>
</nav>