<header id="main-header" class="py-2 bg-info text-white">
    <div class="container">
        <h1><i class="bi bi-person"></i>Editar Cliente</h1>
    </div>
</header>

<form #clienteForm="ngForm" (ngSubmit)="guardar(clienteForm)">
    <!-- Botones -->
     <section id="actiones" class="py-4 mb-4">
        <div class="container d-flex justify-content-between">
            <a [routerLink]="['/']" class="btn btn-primary">
                <i class="bi bi-arrow-left"></i> Regresar a Inicio
            </a>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check"></i> Guardar Cliente
            </button>
            <a href="#" (click)="eliminar()" class="btn btn-danger">
                <i class="bi bi-trash"></i> Eliminar Cliente
            </a>
        </div>
     </section>
     
     <section id="details">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h4>Editar Cliente</h4>
                </div>
                <div class="card-body">
                    <!-- campo nombre -->
                    <div class="d-flex align-item-center mb-3">
                        <label for="nombre" class="form-label me-3 col-sm-1" style="min-wdth: 100px">
                            First Name
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="firstName" name="firstName" class="form-control" required
                            minlength="2" [(ngModel)]="client.firstName" #firstName="ngModel"/>
                            @if(firstName.invalid && firstName.touched) {
                                <div class="text-danger">
                                    This field is required & Have to be min 2 character long
                                </div>
                            }
                        </div>
                    </div>
                    <!-- campo apellido -->
                    <div class="d-flex align-item-center mb-3">
                        <label for="apellido" class="form-label me-3 col-sm-1" style="min-wdth: 100px">
                            Apellido
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="secondName" name="secondName" class="form-control" required
                            minlength="2" [(ngModel)]="client.secondName" #secondName="ngModel"/>
                            @if(secondName.invalid && secondName.touched) {
                                <div class="text-danger">
                                    This field is required & Have to be min 2 character long
                                </div>
                            }
                        </div>
                    </div>
                    <!-- campo email -->
                    <div class="d-flex align-item-center mb-3">
                        <label for="email" class="form-label me-3 col-sm-1" style="min-wdth: 100px">
                            Email
                        </label>
                        <div class="col-sm-9">
                            <input type="email" id="email" name="email" class="form-control" required
                            [(ngModel)]="client.email" #email="ngModel"/>
                            @if(email.invalid && email.touched) {
                                <div class="text-danger">
                                    This field is required & Have to be min 2 character long
                                </div>
                            }
                        </div>
                    </div>
                    <!-- campo age -->
                    <div class="d-flex align-item-center mb-3">
                        <label for="email" class="form-label me-3 col-sm-1" style="min-wdth: 100px">
                            Phone Number
                        </label>
                        <div class="col-sm-9">
                            <input type="number" id="phoneNumber" name="phoneNumber" class="form-control" required
                            [(ngModel)]="client.phoneNumber" #phoneNumber="ngModel"/>
                            @if(phoneNumber.invalid && phoneNumber.touched) {
                                <div class="text-danger">
                                    This field is required & Have to be min 2 character long
                                </div>
                            }
                        </div>
                    </div>
                    <!-- campo age -->
                    <div class="d-flex align-item-center mb-3">
                        <label for="email" class="form-label me-3 col-sm-1" style="min-wdth: 100px">
                            Age
                        </label>
                        <div class="col-sm-9">
                            <input type="number" id="age" name="age" class="form-control" required
                            [(ngModel)]="client.age" #age="ngModel"/>
                            @if(age.invalid && age.touched) {
                                <div class="text-danger">
                                    This field is required & Have to be min 2 character long
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>
</form>